<templates>
    <script id="contenedorTablas" type="text/x-handlebars-template">
        <div class="table-responsive" id="tabla"></div>
    </script>
    
    <script id="head" type="text/x-handlebars-template">
        <tr>
			<th>Sesión</th>
			<th>Experiencia</th>
            <th>Estrategia</th>
            <th>Técnica</th>
            <th>Ambiente</th>
            <th>Modalidad</th>
            <th>Recurso</th>
            <th>Producto</th>
        </tr>
    </script>

    <script id="body" type="text/x-handlebars-template">
    	<tr id="log{{idSuceso}}">
			<td >{{sesion}}</td>
			<td>{{experiencias}}</td>
            <td>{{estrategia}}</td>
            <td>{{tecnica}}</td>
            <td>{{ambiente}}</td>
            <td>{{modalidad}}</td>
            <td>{{recurso}}</td>
            <td>{{producto}}</td>
		</tr>
    </script>

</templates>